<main>
  <header>
    <h1>DASHBOARD</h1>
    <div class="p">
      {{ formattedDate }}
      <p>{{ time }}</p>
    </div>
  </header>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Time</th>
          <th>Arriving</th>
          <th>Departing</th>
        </tr>
      </thead>
      <tbody *ngIf="!loading">
        <tr *ngFor="let dt of flights; let i = index">
          <td data-label="ID">
            {{ dt.airport }}
          </td>
          <td data-label="ID">
            {{ dt.time }}
          </td>
          <td data-label="ID">
            {{ dt.arriving }}
          </td>
          <td data-label="ID">
            {{ dt.departing }}
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!loading">
      <app-loading></app-loading>
    </div>
  </div>
</main>
