<div class="container-login">
  <div class="form-container">
    <h1 class="logo">Flight Departures</h1>
    <div *ngIf="loading" class="img">
      <img src="../../assets/loader.gif" alt="loader" class="loader-img" />
    </div>
    <form>
      <input
        type="text"
        placeholder="Username"
        name="username"
        [(ngModel)]="username"
        (ngModelChange)="onChange()"
      />
      <input
        type="email"
        placeholder="Email"
        name="email"
        [(ngModel)]="email"
        (ngModelChange)="onChange()"
      />
      <input
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="password"
        (ngModelChange)="onChange()"
      />
      <input
        type="password"
        placeholder="Confirm Password"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        (ngModelChange)="onChange()"
      />
      <button type="submit" (click)="onClick()" class="submit-btn">
        Register
      </button>
    </form>
    <p>
      Already have an account?
      <span>
        <a routerLink="/login">Log In</a>
      </span>
    </p>
  </div>
  <lib-toastify-toast-container></lib-toastify-toast-container>
</div>
